requests
fastapi
presidio_analyzer
presidio_anonymizer
presidio_structured
presidio-image-redactor
pydantic
pytesseract
pdf2image
argparse
cython
numpy
thinc
faker
transformers
ollama
python-multipart
uvicorn
gunicorn